@font-face {
  font-family: PixelTakhisis;
  src: url("./assets/pixeltakhisis.otf") format("opentype");
}

@font-face {
  font-family: VGA;
  src: url("./assets/IBM_VGA_8x16.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  font-family: PixelTakhisis;
  color: #c4c4c4;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

a {
  color: white;
}

.Title {
  font-size: 24px;
}

.information {
  font-family: VGA;
  color: #c4c4c4;
  margin-top: auto;
  font-size: 16px;
}

.ActiveStorm {
  font-size: 82px;
}

.StatusRow {
  font-size: 16px;
  margin-right: 16px;
}

.calm {
  color: #999;
}

.fire {
  color: #ff0000;
}

.sand {
  color: #9f9a1b;
}

.ice {
  color: #2ca9d0;
}

.wind {
  color: #c4c4c4;
}

.lightning {
  color: #cfff69;
}

::selection {
  background: #333; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #333; /* Gecko Browsers */
}

.information {
  display: flex;
  flex-direction: row;
}

.information .links {
  margin-left: auto;
}

.animation-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
